<template>
  <div>
    <myco-header></myco-header>
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
import MycoHeader from './components/Header.vue'

export default {
  name: 'App',
  data: function() {
    return {}
  },
  components: {
    MycoHeader
  }
}
</script>

<style>
* {
  moz-box-sizing: border-box;
  box-sizing: border-box;
}

*	&, &:before, &:after {
  moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Code', monospace;
	font-size: 14px;
	padding: 0 0 40px 0;
	margin: 0;
}

input {
  font-family: 'Fira Code', monospace;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 47px;
  height: calc(100vh - 47px);
  background: #f0f0f0;
}
</style>
