<template>
  <div class="navbar">
    <div class="logo">mycomap</div>
    <button
      class="burger"
      :class="{ active: active }"
      @click="toggleMenu"
      @blur="hideMenu"
    ><span></span><span></span><span></span></button>
    <ul>
      <li class="profile">
        <router-link to="/profile">
          <span
            class="icon"
            :style="{ backgroundColor }">
          </span>
          <span class="nickname">{{ nickname }}</span>
        </router-link>
      </li>
      <li>
        <router-link to="/">Home</router-link>
      </li>
      <li>
        <router-link to="/guides">Guides</router-link>
      </li>
      <li>
        <router-link to="/settings">Settings</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'MycoHeader',
  data: function() {
    return {
      active: false
    }
  },
  computed: {
    ...mapGetters('profile', {
      profile: 'getProfile'
    }),
    backgroundColor: function() {
      return (this.profile && this.profile.color)
        ? this.profile.color
        : '#aaa'
    },
    nickname: function() {
      return (this.profile && this.profile.nickname)
        ? this.profile.nickname
        : 'anonymous'
    }
  },
  methods: {
    ...mapActions('profile', ['fetchProfile']),
    toggleMenu: function() {
      this.active = !this.active
    },
    hideMenu: function() {
      this.active = false
    }
  },
  mounted: function() {
    this.fetchProfile()
  }
}
</script>

<style scoped>
.navbar {
  background: #fff;
  border-radius: 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 100000;
}
.navbar .logo {
  padding: 12px 5px 12px 35px;
  font-size: 18px;
}
.navbar .logo a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
}
.navbar button.burger {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  background: transparent;
  padding: 12px 15px;
  pointer: cursor;
  outline: none;
}
.navbar button.burger span {
  display: block;
  width: 4px;
  height: 4px;
  background: #000;
  margin: 3px 0;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}
.navbar button.burger.active span:first-child {
  transform-origin: 2px 9px;
  transform: rotate(-90deg);
}
.navbar button.burger.active span:last-child {
  transform-origin: 2px -5px;
  transform: rotate(-90deg);
}
.navbar button.burger.active + ul {
  max-height: 500px;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: 0;
  transition: all 0.6s ease-in-out;
}
.navbar ul > li {
  display: block;
  padding: 10px 15px;
  transition: all 0.2s ease;
}
.navbar ul > li:hover {
  background: linear-gradient(141deg, #c1faa7 0%, #5ddfdf 51%, #a0d3ff 75%);
}
.navbar ul > li a,
.navbar ul > li a:hover,
.navbar ul > li a:focus,
.navbar ul > li a:active,
.navbar ul > li a:visited {
  /* color: #fff; */
  text-decoration: none;
}
.navbar ul li.profile {
  border-bottom: 1px solid #ddd;
}
.navbar ul li a {
  display: flex;
  align-items: center;
}
.navbar li.profile a .icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
}
</style>
