<template>
  <div style="display:none">
    <div class="popup">
      <h2>
        <a :href="wikipediaLink"
           target="_blank">
          {{ capitalizedName }}
        </a>
      </h2>
      <div>
        <ul class="tags">
          <li
            v-for="tag in spot.tags"
            :key="tag">
            {{ tag }}
          </li>
        </ul>
      </div>
      <p>{{ spot.description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MycoPopup',
  props: {
    spot: {
      type: Object,
      required: true
    }
  },
  computed: {
    capitalizedName: function() {
      const lower = this.spot.name.toLowerCase()
      return lower.charAt(0).toUpperCase() + lower.slice(1)
    },
    wikipediaLink: function() {
      return 'https://en.wikipedia.org/wiki/' + this.capitalizedName.split(' ').join('_')
    }
  }
}
</script>
